<div class="container is-max-desktop">
  <div class="card-content">
    <p class="is-size-4 has-text-weight-bold">{{ teacher.name }}</p>
    <p class="is-size-6">Subjects: {{ teacher.subjects }}</p>

    <div class="content">
      <form #questionForm="ngForm" (ngSubmit)="submitQuestion()">
        <textarea style="height: 1500px"
          required
          [(ngModel)]="question"
          name="question"
          class="textarea is-small mt-5"
          placeholder="Question"
        ></textarea>
        <p *ngIf="submitSuccess" class="help is-success">
          Question was submitted successfully!
        </p>
        <p *ngIf="submitError" class="help is-danger">
          Oops, something went wrong. Please try again later.
        </p>
        <button
          type="submit"
          class="button is-info mt-3"
          [disabled]="!questionForm.form.valid"
        >
          Submit your Question
        </button>
      </form>
    </div>
  </div>
</div>
